html, body {
    height: 98vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #474444;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border: 5px solid;
    border-radius: 10px;
}

button {
    color: white;
}

.textbox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #201e1e;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.side-btn {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(131, 131, 133);
    font-size: xx-large;
    cursor: pointer;
    width: 100%;
    margin: 5px;
}

.side-bar {
    background-color: rgb(24, 23, 42);
    text-align: center;
    border-right: 5px solid;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}