body {
    color: white;
    background-color: #474444;
    display: flex;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

button {
    color: white;
}

.textbox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #201e1e;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.side-btn {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(131, 131, 133);
    font-size: xx-large;
    cursor: pointer;
    margin: 5px;
    width: 80%;
}

.side-bar {
    background-color: antiquewhite;
    text-align: center;
}